:root{--black:#000;--red:#BB0000;--green:#006400;--white:#fff}
.btn-success{background-color:var(--green);border-color:var(--green)}
.btn-danger{background-color:var(--red);border-color:var(--red)}
.btn-dark{background-color:var(--black);border-color:var(--black)}
.navbar-dark{background-image: linear-gradient(90deg, var(--black), var(--red), var(--green));}
