{% extends 'base.html' %}
{% block content %}
<div class="text-center">
  <img src="/static/img/icon-192.png" alt="Chooza" class="my-3" style="width:96px;height:96px">
  <h1 class="fw-bold" style="color:#006400">Chooza</h1>
  <p class="lead">Where your online connections become real-life opportunities.</p>
</div>
<div class="row g-3">
  <div class="col-6">
    <a class="btn btn-success w-100" href="#">Hustle Hub</a>
  </div>
  <div class="col-6">
    <a class="btn btn-danger w-100" href="#">Career Accelerator</a>
  </div>
  <div class="col-6">
    <a class="btn btn-dark w-100" href="#">Cultural Home</a>
  </div>
  <div class="col-6">
    <a class="btn btn-primary w-100" href="#">Social Engine</a>
  </div>
</div>
{% endblock %}
